@charset "UTF-8";
html{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
body{
	width: 400px;
	height: 744px;
	background-color: #eee;
	border-radius: 30px;
}
a {
	color: #000; 
	text-decoration: none; 
	outline: none
}
 a:hover, a:active {
	text-decoration: none; 
	color:#000; 
	background-color:#fff;
}
button{
	border: 0;
}