@charset "UTF-8";
nav{
	position: absolute;
	width: 300px;
	bottom: 0;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 50px;
	font-size: 11px;

}
nav a{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	gap: 5px;	
}

