@charset "UTF-8";
.container{
	background-color: white;
	height: 100%;
}
.container form{
	height: 400px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container button{
	width: 320px;
	padding: 5px 15px;
	border-radius: 15px;
	background-color: rgb(255, 196, 85);
	font-size: 14px;
	margin-top: 50px;
}
.loginMsg{
	font-size: 13px;
}