@charset "UTF-8";
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
.scroll{
	overflow-y:scroll; 
	width:400px; 
	height:550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.parmacy{
	width: 320px;
	height: 80px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color: #fff;
	border-radius: 8px;
	gap:15px;
	margin-top:20px;
	padding-left: 10px;
	padding-right: 10px;
}

.parmacy img{
	width: 75px;
	height: 75px;
	padding: 5px 0 5px 10px;
}

.parInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 40px;
}

.parName{
	font-size: 15px;
	font-weight: bold;
}

.parLocation{
	font-size: 10px;
	font-weight: light;
}
