@charset "UTF-8";
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	width: 320px;
	height: 80px;
	padding: 5px 20px;
	gap: 15px;
}
.wrapper img{
	width: 45px;
	height: 45px;
}
.preInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-right: 50px;
}
.departmentName{
	font-size: 12px;
	font-weight: light
}
.doctorInfo{
	font-size: 15px;
	font-weight: bold;
}